// Utilities
// ------------------------
/*** Flex ***/
//
@use "helpers" as *;

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-column {
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }
}
