// Base
// ------------------------------
/*** General ***/
//

@use "helpers" as *;

@layer base {
  body {
    background: $body-background;
    color: $body-text-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
  }

  ::selection {
    color: $clr-neutral-000;
    background: $clr-cyan-400;
  }

  ::placeholder {
    color: inherit;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background-color: $clr-neutral-800;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $clr-neutral-300;
  }
}
